/* common shared styles */

body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0px;
}

/* header styles */

.banner {
    background-image: url("../images/banner/banner1.png");
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: right;
    background-repeat: no-repeat;
}

.banner-content {
    text-align: right;
    max-width: 550px;
    margin-top: 215px;
    margin-right: 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin: 0;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-btn {
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    border: 0px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
}

/* failures section  */

.failures-last-year {
    display: flex;
    align-items: center;
    margin-top: 130px;
    margin-left: 200px;
    width: auto;
    gap: 90px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 0;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-list {
    max-width: 400px;
}

.failure-list ul {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style: none;
    padding: 0;
}

/* my plans section styles */

.my-plans {
    text-align: center;
    margin: 130px 200px;
}

.plans-list {
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
}

.plans-list-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-list-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* motivation section styles */
.motivation-content {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 58px;
    padding-left: 65px;
}

.motivation-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    max-width: 450px;
    margin: 0;
}

.call-now-btn {
    color: #F15B22;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
}

/* footer section styles */

footer {
    height: 570px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    gap: 330px;
}

.future-section-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future-section-description {
    font-weight: 400;
    font-size: 16px;
    color: #F8F8F8;
    max-width: 485px;
    margin-bottom: 25px;
}

.social-links a {
    margin-top: 25px;
    margin-right: 15px;
}

.subscribe-section-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.subscribe-section input {
    display: block;
    font-weight: 400;
    font-size: 18px;
    border-color: #F3F3F3;
    color: #F3F3F3;
    background: none;
    border-radius: 8px;
    padding: 18px 30px;
}

.subscribe-btn {
    color: #F15B22;
    background-color: white;
    border-radius: 8px;
    border: 0px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
}